<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Crud - João Gabriel</title>
</head>

<div class="container">
    <nav class="navbar navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">Crud João </a>
    </nav>
    {% block content %}
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editando Cadastro | {{ pessoa.nome }}</h1>
                <p class="lead">Insira os Dados para Atualizar</p>
            </div>
        </div>
        <form method="POST" action="update">
            <input type="hidden" name="cod_pessoa" value="{{ pessoa.cod_pessoa }}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" class="form-control" value="{{ pessoa.nome }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="cpf">cpf:</label>
                        <input type="text" name="cpf" class="form-control" value="{{ pessoa.cpf }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dt_nasc">Aniversario:</label>
                        <input type="text" name="dt_nasc" class="form-control" step="0.01" value="{{ pessoa.dt_nasc }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="text" name="email" class="form-control" value="{{ pessoa.email }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="num_telefone">Telefone:</label>
                        <input type="text" name="num_telefone" class="form-control" value="{{ pessoa.num_telefone }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                    <a class="btn btn-info" href="/">Voltar</a>
                </div>
            </div>
        </form>
    </body>
    {% endblock %}
</div>

</html>
